
@{
    ViewBag.Title = "Dept";
}

<h2 class="alert alert-info">List of Department</h2>

@if (ViewBag.dept != null)
{
    foreach (var item in ViewBag.dept)
    {
        <h1 class="text-primary">@item</h1>
    }
}
else
            {
                <h2 class="alert alert-danger">Data not found.</h2>
            }

