@model WebApplication2.Models.Person
@{
    ViewBag.Title = "People";
}

<h2 class="alert alert-info">People</h2>


<h2 class="text text-success">ID: @Model.Id</h2>
<h2 class="text text-success">Name: @Model.Name</h2>
<h2 class="text text-success">Age: @Model.Age</h2>
<h2 class="text text-success">Conutry: @Model.Country</h2>
