
@{
    ViewBag.Title = "SaveData";
}

<h2 class="alert alert-info">Save Data Information</h2>

<h2 class="text-primary">Name: @ViewBag.name</h2>
<h2 class="text-primary">Age: @ViewBag.age</h2>
<h2 class="text-primary">Nationality: @ViewBag.national</h2>

